{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}账号登录{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error_msg {
            color: red;
            position: absolute;
            font-size: 12px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="account">
            <h1>账号登录</h1>
            <form method="post" id="accountLoginForm" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'code' %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="clearfix">
                                <div class="col-md-6" style="padding-left: 0">
                                    {{ field }}
                                    <span class="error_msg"></span>
                                </div>
                                <div class="col-md-6">
                                    <img id="image_code" src="{% url 'image_code' %}" />
                                </div>
                            </div>

                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <span class="error_msg"></span>
                        </div>
                    {% endif %}
                {% endfor %}
                <div>
                    <div style="float: right">
                        <a href="{% url 'login_account' %}">账号密码登录?</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <button type="button" id="btnSubmit" class="btn btn-primary">登 录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            bindClickImageCodeBts()
            bindClickBtnSubmit()
        });

        function bindClickImageCodeBts() {
            $('#image_code').click(function () {
                let url = "{% url 'image_code' %}?s="+ (new Date()).getTime()
                $(this).attr("src",url);
            });
        }
        function updateImage(){

        }
        function bindClickBtnSubmit() {
            $('#btnSubmit').click(function () {
                // 清空所有错误提示
                $('.error_msg').empty()
                $.ajax({
                    url: '{% url 'login_account' %}',
                    type: 'POST',
                    data: $('#accountLoginForm').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            console.log(res)
                        } else {
                            let url = "{% url 'image_code' %}?s="+ (new Date()).getTime()
                            $('#image_code').attr("src",url);

                            $.each(res.error, function (key, value) {
                                $('#id_' + key).next().text(value[0])
                            })
                        }
                    }
                })
            });
        }


    </script>
{% endblock %}