{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}用户注册{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="account">
            <h1>用户注册</h1>
            <form>
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'code' %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="clearfix">
                                <div class="col-md-6" style="padding-left: 0">{{ field }}</div>
                                <div class="col-md-6">
                                    <input id="sendBtn" type="button" class="btn btn-default" value="获取验证码">
                                </div>
                            </div>

                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-default">注册</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            bindClickBts();
        });

        function bindClickBts() {
            $('#sendBtn').click(function () {
                let mobilePhone = $('#id_mobile_phone').val();
                $.get('{% url 'send_sms' %}', {'mobile_phone': mobilePhone, 'tpl': 'register'}, function (res) {
                    console.log(res)
                });
            });
        }

    </script>
{% endblock %}